<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification</title>
    <style>body{ background-color: #f1f3f4; display: flex; justify-content:
      center; align-items: center;}.content{ background-color: white; max-width:
      300px; width : 100%; margin : 10px; padding: auto; text-align: center;
      font-family: sans-serif;} h3{color: #c5152c} button{ background-color:
      #c5152c; color: white; border: none; padding: 10px 0px; width: 100%;
      border-radius: 5px margin: 15px 0px; cursor: pointer; border: none
      font-weight: 600}
    </style>
  </head>
  <body>
    <div class='content'>
      <h3>KFC</h3>
      <p>Hi, {{email}}.  Verifikasi email anda</p>
      <a href='{{verification_url}}'>
        <button>Verify Email</button>
      </a>

    </div>
  </body>
</html>